<form class="form-group col-xs-6" ng-submit="addPlane()">
    <input ng-model="newManufacturer" class="form-control" type="text" name="manufacturer" placeholder="Manufacturer">
    <br>
    <input ng-model="newModel" class="form-control" type="text" name="model" placeholder="Model">
    <br>
    <input ng-model="newEngines" class="form-control" type="number" name="engines" placeholder="Number of Engines">
    <br>
    <input ng-model="newImage" class="form-control" type="text" name="image" placeholder="Link to Image">
    <br>
    <input class="btn btn-success" type="submit" value="Add New">
</form>
